<!DOCTYPE html>
<html ng-app="mainApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Continuous Deployment Metrics</title>
    <link rel="stylesheet" href="~/content/ng-grid.css">  
    <link rel="stylesheet" href="~/content/treeGrid.css">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-charts.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
    <script src="~/Scripts/ng-grid.debug.js"></script>
    <script src="~/Scripts/tree-grid-directive.js"></script>
    <script src="~/Scripts/App/metricService.js"></script>
    <script src="~/Scripts/App/metricControllers.js"></script>
    <script src="~/Scripts/App/app.js"></script>
</head>

<body>
    <div ng-view id="mainView"></div>
</body>
</html>