<table ng-controller="rolloutChartsController" class="charttable">
    <tr>
        <td><div data-ac-chart="'bar'" data-ac-data="data_web" data-ac-config="config_web" class="chart"></div></td>
        <td><div data-ac-chart="'bar'" data-ac-data="data_caption" data-ac-config="config_caption" class="chart"></div></td>
    </tr>
    <tr>
        <td><div data-ac-chart="'bar'" data-ac-data="data_mm" data-ac-config="config_mm" class="chart"></div></td>
        <td><div data-ac-chart="'bar'" data-ac-data="data_feeds" data-ac-config="config_feeds" class="chart"></div></td>
    </tr>
</table>