<table class="rolloutSummary sortable" ng-controller="rolloutSummaryController">
    <caption>Rollout Summary</caption>
    <thead>
        <tr>
            <th class="sorttable_numeric">ID</th>
            <th>Duration</th>
            <th>StartTime</th>
            <th>EndTime</th>
        </tr>
    </thead>
    <tbody ng-repeat="rs in rolloutSummary">
        <tr>
            <td>{{rs.ChangeNumber}}:{{rs.RolloutName}}</td>
            <td>{{rs.DurationInMin}}</td>
            <td>{{rs.StartTime}}</td>
            <td>{{rs.EndTime}}</td>
        </tr>
        <tr ng-repeat="stage in rs.Stages">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{stage.StageName}}</td>
            <td>{{stage.DurationInMin}}</td>
            <td>{{stage.StartTime}}</td>
            <td>{{stage.EndTime}}</td>
        </tr>
    </tbody>
</table>

